:root{
  --font-size-title: 32px;
  --font-size-content: 16px;
}

@media screen and (max-width: 1340px) {
  :root{
    --font-size-title: 28px;
  }
}

@media screen and (max-width: 590px) {
  :root{
    --font-size-title: 22px;
    --font-size-content: 14px;
  }
}

@media screen and (max-width: 460px) {
  :root{
    --font-size-title: 18px;
    --font-size-content: 12px;
  }
}