.footer {
  position: relative;
  padding: 51px 0 44px 0;
  background: #0063DD;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.footer__copyright {
  margin-right: auto;
  color: #FFFFFF;
}

.footer__reference-list {
  display: flex;
  margin-right: 76px;
  margin-left: 25px;
}

.reference-list__item {
  margin-right: 40px;
}

.reference-list__link {
  color: #FFFFFF;
}

.footer__social-list {
  display: flex;
}

.social-list__item:not(:last-child) {
  margin-right: 15px;
}

.social-list__link {
  display: block;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-list__link-facebook {
  background-image: url(../../img/footer/fb.svg);
}
.social-list__link-twitter {
  background-image: url(../../img/footer/twit.svg);
}
.social-list__link-youtube {
  background-image: url(../../img/footer/youtube.svg);
}

.footer__btn{
  position: absolute;
  top: 25%;
  right: 5%;
}

@media screen and (max-width: 1440px) {
  .footer__btn{
    top: -50%;
    transform: translateY(50%);
  }
}

@media screen and (max-width: 617px) {
  .footer__social-list{
    width: 100%;
  }

  .footer__copyright {
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
  }
  .footer__reference-list {
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
  }

  .footer__btn{
    top: 0;
    transform: translateY(50%);
  }
}

@media screen and (max-width: 460px) {
  .footer{
    padding: 20px 0;
  }
  .footer__wrapper{
    display: block;
  }
  .footer__reference-list{
    display: inline-block;
  }
  .footer__btn{
    top: 50%;
    transform: translateX(0);
  }
}