.main-page {
  height: 1050px;
  background: url('../../img/pages/main-page/BG.svg') no-repeat left/cover;
}

.main-page__header {
  margin-bottom: 88px;
}

.product {
  max-width: 655px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 108px;
}

.product__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 117%;
  text-align: center;
  margin-bottom: 30px;
}

.product__discription {
  font-size: var(--font-size-content);
  line-height: 170%;
  text-align: center;
  color: #929292;
  margin-bottom: 33px;
}

.product__buttons-block {
  display: flex;
  justify-content: space-between;
  max-width: 362px;
  margin: 0 auto;
}

.devices {
  display: block;
  width: 100%;
  max-width: 804px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .main-page {
    height: 790px;
    background: url('../../img/pages/main-page/BG.svg') no-repeat center/cover;
  }
  .main-page__header {
    margin-bottom: 40px;
  }
  .product {
    margin-bottom: 40px;
  }
  .product__discription {
    padding: 0 10px;
  }
}

@media screen and (max-width: 590px) {
  .main-page {
    height: 730px;
    background: url('../../img/pages/main-page/BG.svg') no-repeat center/cover;
  }
  .main-page__header {
    margin-bottom: 40px;
  }
  .product {
    margin-bottom: 40px;
  }
  .product__discription {
    padding: 0 10px;
  }
}

@media screen and (max-width: 460px) {
  .product__title {
    font-size: 28px;
  }
  .product__buttons-block{
    flex-direction: column;
  }
  .button_type-white:not(:last-child){
    margin-bottom: 20px;
  }
}