.news-page {
  padding: 130px 0 106px 0;
}

.news-page__title {
  text-align: center;
  margin-bottom: 40px;
}

.news-page__title-title {
  margin-bottom: 25px;
}

.news-page__title-discription {
  max-width: 722px;
  margin: 0 auto;
}

.news-page__news-field {}

.news-field {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news-field__main-news {
  margin-right: 15px;
  flex: 0 1 558px;
}

.main-news__img {
  max-width: 558px;
  margin-bottom: 30px;
}

.main-news__title {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #0063DD;
}

.main-news__content {
  margin-bottom: 35px;
}

.main-news__continue {}

.news-field__others-news {}

.other-new {
  display: flex;
}

.other-new:not(:last-child) {
  margin-bottom: 23px;
}

.other-new__img {
  max-width: 116px;
  margin-right: 24px;
  object-fit: contain;
}

.other-new__text {
  max-width: 413px;
}

.other-new__text-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

@media screen and (max-width: 1340px) {
  .news-field {
    justify-content: center;
  }
  .news-field__main-news {
    margin-right: 15px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1050px) {
  .news-page {
    padding: 80px 0 70px 0;
  }
}

@media screen and (max-width: 768px) {
  .news-field__main-news {
    margin-right: 0;
  }
}

@media screen and (max-width: 590px) {
  .news-field__main-news{
    text-align: center;
  }
  .main-news__img {
    max-width: 310px;
  }
}

@media screen and (max-width: 460px){
  .news-page {
    padding: 30px 0 20px 0;
  }
  .main-news__title{
    font-size: 18px;
  }
  .other-new__text-title{
    font-size: 14px;
  }
}