.work-page {
  padding: 119px 0 137px 0;
  background: #F5FCFD;
}

.work-page__title-field {
  margin-bottom: 45px;
}

.title-field__title {
  text-align: center;
  margin-bottom: 25px;
}

.title-field__discription {
  margin: 0 auto;
  max-width: 722px;
  text-align: center;
}

.work-page__path {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.path__item {
  max-width: 333px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.path__item-picture{
  position: relative;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.path__item-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #DFEDFF;
  object-fit: scale-down;
}

.path__item-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.path__item-discription {
  text-align: center;
}

.work-page__path-road{
  position: absolute;
  top: 22%;
  left: 15%;
  width: 70%;
  z-index: 1;
  stroke-dasharray: 10;
}

@media screen and (max-width:1050px) {
  .work-page {
    padding: 70px 0
  }
}

@media screen and (max-width:590px) {
  .work-page__path-road{
    display: none;
  }
  .work-page__path{
    flex-direction: column;
    align-items: center;
  }
  .path__item{
    margin-right: 0;
  }

  .path__item:not(:last-child){
    margin-bottom: 40px;
  }
  .path__item-picture{
    margin-bottom: 20px;
  }
  .path__item-title{
    margin-bottom: 10px;
  }
}